flows.json
[
    {
        "id": "683c5ee8de2163b6",
        "type": "tab",
        "label": "Tiktok interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "658ae1b41e1ffece",
        "type": "tab",
        "label": "Discord Interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5df917f1b2db25de",
        "type": "tab",
        "label": "Trutube Interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39c7fb5bf9a56abc",
        "type": "tab",
        "label": "User Interface",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74ea95b81dfebff6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#8833f0",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#8833f0",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#8833f0",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#b27af5",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#8833f0",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "13f7e1d6c4f01d13",
        "type": "websocket-client",
        "path": "wss://node-red.trutube.live/test",
        "tls": "72c7db4b69479840",
        "wholemsg": "false",
        "hb": "10",
        "subprotocol": ""
    },
    {
        "id": "72c7db4b69479840",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "01f2932d071c6cbf",
        "type": "websocket-listener",
        "path": "/tiktok-in",
        "wholemsg": "false"
    },
    {
        "id": "6ece3ac1871c8eb1",
        "type": "ui_group",
        "name": "Tiktok Name Configuration",
        "tab": "2451a98df3ac03d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2451a98df3ac03d8",
        "type": "ui_tab",
        "name": "Configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54785973376b9e7e",
        "type": "ui_spacer",
        "z": "39c7fb5bf9a56abc",
        "name": "spacer",
        "group": "ad658f2169a90b4e",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "ad658f2169a90b4e",
        "type": "ui_group",
        "name": "Dont Press Me!!",
        "tab": "2451a98df3ac03d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9ce95f3c47a19fcb",
        "type": "ui_group",
        "name": "Text 1 Configuration",
        "tab": "2451a98df3ac03d8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75aa1b88aa2b1096",
        "type": "ui_group",
        "name": "Text 2 Configuration",
        "tab": "2451a98df3ac03d8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "889934b9a72a54f7",
        "type": "ui_group",
        "name": "Text 3 Configuration",
        "tab": "2451a98df3ac03d8",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "584354bba9c0514c",
        "type": "ui_group",
        "name": "Movie Configuration",
        "tab": "2451a98df3ac03d8",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "390e85bcd69050a2",
        "type": "websocket in",
        "z": "683c5ee8de2163b6",
        "name": "",
        "server": "01f2932d071c6cbf",
        "client": "",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "09b95884ce1ceaa2",
                "e48ce729245e7392"
            ]
        ]
    },
    {
        "id": "17367ed18f9535c1",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Chat Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 40,
        "wires": []
    },
    {
        "id": "df2afa2231e38e15",
        "type": "json",
        "z": "683c5ee8de2163b6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "8b85315d264663b7"
            ]
        ]
    },
    {
        "id": "09b95884ce1ceaa2",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "function 2",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            [
                "df2afa2231e38e15"
            ]
        ]
    },
    {
        "id": "e48ce729245e7392",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "8b85315d264663b7",
        "type": "switch",
        "z": "683c5ee8de2163b6",
        "name": "Message Types",
        "property": "payload.codetype",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "chat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "follow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "gift",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "like",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "social",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "emote",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "questionNew",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 9,
        "x": 720,
        "y": 180,
        "wires": [
            [
                "17367ed18f9535c1"
            ],
            [
                "bc413fe6b3d52a03"
            ],
            [
                "d4a477533927b94e"
            ],
            [
                "579da88f39f87a0e",
                "9bed4060204ba3f4"
            ],
            [
                "1824a31916a8c680",
                "c6dcbb527e477dc8"
            ],
            [
                "628db28fded82651"
            ],
            [
                "52b7b451d6aa7710"
            ],
            [
                "812f64e771e7dac2"
            ],
            [
                "5332439e9daf1855"
            ]
        ]
    },
    {
        "id": "bc413fe6b3d52a03",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Follow debug ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 80,
        "wires": []
    },
    {
        "id": "d4a477533927b94e",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "State debug ",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "579da88f39f87a0e",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Gift debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 160,
        "wires": []
    },
    {
        "id": "c6dcbb527e477dc8",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Likes Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2210,
        "y": 280,
        "wires": []
    },
    {
        "id": "628db28fded82651",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Social debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 240,
        "wires": []
    },
    {
        "id": "52b7b451d6aa7710",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "Emote debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "812f64e771e7dac2",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "questionNew debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "9bed4060204ba3f4",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Geturls for download",
        "func": "\nmsg.old = {};\nmsg.old =msg.payload;\nif (msg.old.hasOwnProperty('repeatEnd')&&msg.old.repeatEnd==true){\n    msg.url = msg.old.giftPictureUrl\n    msg.end = false;\n    msg.method = \"get\"\n    node.send(msg)\n\n    msg.url = msg.old.profilePictureUrl\n    msg.method = \"get\"\n    msg.end = true;\n    node.send(msg);\n}\n\n\n\n//return msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1160,
        "wires": [
            [
                "fb90a136672744b7"
            ],
            []
        ]
    },
    {
        "id": "fb90a136672744b7",
        "type": "http request",
        "z": "683c5ee8de2163b6",
        "name": "",
        "method": "use",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1630,
        "y": 1160,
        "wires": [
            [
                "c841031a4cadc63a",
                "ed3262cde364a911"
            ]
        ]
    },
    {
        "id": "c841031a4cadc63a",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": " http Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c9cb1f6276220d70",
        "type": "inject",
        "z": "683c5ee8de2163b6",
        "name": "prize",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "method",
                "v": "get",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"giftId\":5655,\"repeatCount\":1,\"repeatEnd\":true,\"groupId\":\"1663025198956\",\"userId\":\"7142274036935148590\",\"secUid\":\"MS4wLjABAAAAfdsLIwNtY1d_lsYSg5xTZLcUYskfacM71DvrNR-tWhjb8NSkgj_O74J24r1vl5NN\",\"uniqueId\":\"Test_Dono\",\"nickname\":\"stinkinkanime\",\"profilePictureUrl\":\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=8bsszQNFkwYfY1RdkzrkxKwq7vo%3D\",\"followRole\":0,\"userBadges\":[{\"badgeSceneType\":1,\"type\":\"pm_mt_moderator_im\",\"name\":\"Moderator\"}],\"userDetails\":{\"createTime\":\"0\",\"bioDescription\":\"\",\"profilePictureUrls\":[\"https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~tplv-tiktok-shrink:72:72.webp?x-expires=1663196400&x-signature=A%2FPpKMuIhVLFNDwFhI2k6uhpiP8%3D\",\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=8bsszQNFkwYfY1RdkzrkxKwq7vo%3D\",\"https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=dDrTGxGkpRX1eGvl6ORBUiY6PzM%3D\",\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.jpeg?x-expires=1663196400&x-signature=h3bRT6jx7yFWyQFHF8k13B3Ij34%3D\"]},\"followInfo\":{\"followingCount\":5,\"followerCount\":2,\"followStatus\":0,\"pushStatus\":0},\"isModerator\":true,\"isNewGifter\":false,\"isSubscriber\":false,\"topGifterRank\":null,\"msgId\":\"7142638130326457131\",\"createTime\":\"1663025202290\",\"displayType\":\"webcast_aweme_gift_send_message\",\"label\":\"{0:user} sent {1:gift} {2:string}\",\"gift\":{\"gift_id\":5655,\"repeat_count\":1,\"repeat_end\":1,\"gift_type\":1},\"describe\":\"Sent Rose\",\"giftType\":1,\"diamondCount\":1,\"giftName\":\"SAMPLE_Rose\",\"giftPictureUrl\":\"https://p19-webcast.tiktokcdn.com/img/maliva/webcast-va/eba3a9bb85c33e017f3648eaf88d7189~tplv-obj.png\",\"timestamp\":1663025202291,\"receiverUserId\":\"7142190885731255342\",\"codetype\":\"gift\"}",
        "payloadType": "json",
        "x": 2090,
        "y": 1060,
        "wires": [
            [
                "9bed4060204ba3f4"
            ]
        ]
    },
    {
        "id": "a6556b1be0c28bef",
        "type": "file",
        "z": "683c5ee8de2163b6",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1980,
        "y": 1240,
        "wires": [
            [
                "a59e3c1c4f9650cd",
                "94a552ac9cfd0558"
            ]
        ]
    },
    {
        "id": "fb5b5c3f5338dba5",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2340,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ed3262cde364a911",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "make filename",
        "func": "//node.warn(msg);\n\nif(msg.url === msg.old.giftPictureUrl){\n    //This is the gift image\n    msg.end = false;\n    msg.filename = \"/pictures/gift/\" + msg.old.giftName.replace(/\\s/g, '')+\".png\"\n    node.send(msg)\n}\nif (msg.url === msg.old.profilePictureUrl){\n    //this is a profile pic\n    msg.old.filename1 = \"/pictures/gift/\" + msg.old.giftName.replace(/\\s/g, '') + \".png\"\n    msg.old.filename2 = \"/pictures/users/\" + msg.old.nickname + \".png\"\n    msg.filename = \"/pictures/users/\" + msg.old.nickname + \".png\"\n    msg.end= true;\n    node.send(msg)\n}\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1800,
        "y": 1200,
        "wires": [
            [
                "a6556b1be0c28bef"
            ]
        ]
    },
    {
        "id": "36f9d653ca3ad0b4",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/text-scroller",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 3070,
        "y": 1200,
        "wires": [
            [
                "bcdeb0301f7d95a8"
            ],
            [
                "b95e391f718b38d7"
            ],
            [
                "9659900c56271ea8"
            ]
        ]
    },
    {
        "id": "bcdeb0301f7d95a8",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b95e391f718b38d7",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1200,
        "wires": []
    },
    {
        "id": "9659900c56271ea8",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ecdf5d0a50fccb18",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/text-scroller",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 3010,
        "y": 1360,
        "wires": [
            [
                "82def5675b2f88d8"
            ],
            [
                "7669da18449fec57"
            ],
            [
                "88b0141398b7feb4"
            ]
        ]
    },
    {
        "id": "82def5675b2f88d8",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7669da18449fec57",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1360,
        "wires": []
    },
    {
        "id": "88b0141398b7feb4",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d33dc1b4b4e4d4f9",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/text-scroller",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 3010,
        "y": 1520,
        "wires": [
            [
                "b733e68262309b6a"
            ],
            [
                "bf0fd9a14150d4a7"
            ],
            [
                "c29c942fc2a086a6"
            ]
        ]
    },
    {
        "id": "b733e68262309b6a",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bf0fd9a14150d4a7",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1520,
        "wires": []
    },
    {
        "id": "c29c942fc2a086a6",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1560,
        "wires": []
    },
    {
        "id": "e80bf1806eb58fba",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/led-image-viewer",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "led-image-viewer",
        "x": 3010,
        "y": 1680,
        "wires": [
            [
                "b87490be43204437"
            ],
            [
                "a9bee496e421a614"
            ],
            [
                "09a3ee33e043dcf5"
            ]
        ]
    },
    {
        "id": "b87490be43204437",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1640,
        "wires": []
    },
    {
        "id": "a9bee496e421a614",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1680,
        "wires": []
    },
    {
        "id": "09a3ee33e043dcf5",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3260,
        "y": 1720,
        "wires": []
    },
    {
        "id": "7c9b02c48b644fb2",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Load The Screens",
        "func": "/*\n//home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf ' ♥Thank you♥ ' --led-no-hardware-pulse -C255,145,0\"\n//./led-image-viewer --led-rows=64 --led-cols=64 --led-chain=2 -f -w10 /*.png --led-no-hardware-pulse --led-gpio-mapping=\"adafruit-hat\" -C --led-brightness=10 --led-slowdown-gpio=3\n///home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you♥ \" --led-no-hardware-pulse -C255,145,0\n///home/pi / rpi - rgb - led - matrix / examples - api - use / scrolling - text - example - s 0 --led - rows=64 --led - cols=64 --led - chain=2 --led - brightness=50 --led - slowdown - gpio=3 - f / home / pi / rpi - rgb - led - matrix / fonts / 10x20.bdf \" ♥Thank you♥ \" - y20--led - no - hardware - pulse\n///home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you♥ \"  -y40 --led-no-hardware-pulse -C25,255,200\n*/\n\nif(msg.end){\n    msg.payload =\"\"\n    msg.delay = (global.get(\"tiktok_movie_onTime\")-.100)*1000*2\n    node.warn(msg.delay)\n    //msg.payload = \"-s10  --led-gpio-mapping=adafruit-hat --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=2 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf  ♥Thank you!♥ -C255,0,248 -b5,2 -x2 --led-no-hardware-pulse\"\n    //node.warn(global.get(\"tiktok_Text_color_1\").replace(\"rgb(\", \"\").replace(\")\", \"\").replace(\" \", \"\"))\n    msg.payload = \"-s\" + global.get(\"tiktok_Text_speed_1\") +\n     \" --led-gpio-mapping=adafruit-hat --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=\" +\n      global.get(\"tiktok_Text_brightness_1\") +\n      \" --led-slowdown-gpio=2 -f /home/pi/rpi-rgb-led-matrix/fonts/\" +\n      global.get(\"tiktok_Text_font_1\") + \n      \" -C\" + global.get(\"tiktok_Text_color_1\").replace(\"rgb(\", \"\").replace(\")\", \"\").replace(\" \", \"\").replace(\" \", \"\") +\n      \" -b5,2 -x\" + global.get(\"tiktok_Text_startx_1\") +\n      \" -y\" + global.get(\"tiktok_Text_starty_1\") +\" --led-no-hardware-pulse Thank you! \"\n    \n    node.send([msg])\n//--led-no-hardware-pulse\n    msg.payload = \"-s\" + global.get(\"tiktok_Text_speed_2\") +\n     \" --led-gpio-mapping=adafruit-hat --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=\" +\n      global.get(\"tiktok_Text_brightness_2\") + \" --led-slowdown-gpio=2 -f /home/pi/rpi-rgb-led-matrix/fonts/\" +\n      global.get(\"tiktok_Text_font_2\")  + \" -C\" + global.get(\"tiktok_Text_color_2\").replace(\"rgb(\", \"\").replace(\")\", \"\").replace(\" \", \"\").replace(\" \", \"\") +\n      \" -y\" + global.get(\"tiktok_Text_starty_2\") +\" -x\" +\n      global.get(\"tiktok_Text_startx_2\") +\n      \" --led-no-hardware-pulse \" +\n       msg.old.repeatCount +\n      \" X \" + msg.old.giftName +\n      \" \"\n    node.send([null, msg]); \n    //--led-no-hardware-pulse\n    msg.payload = \"-s\" + global.get(\"tiktok_Text_speed_3\") +\n     \" --led-gpio-mapping=adafruit-hat --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=\" \n     + global.get(\"tiktok_Text_brightness_3\") + \" --led-slowdown-gpio=2 -f /home/pi/rpi-rgb-led-matrix/fonts/\" \n     + global.get(\"tiktok_Text_font_3\") + \" -C\" + global.get(\"tiktok_Text_color_3\").replace(\"rgb(\", \"\").replace(\")\", \"\").replace(\" \", \"\").replace(\" \", \"\") \n     + \" -y\" + global.get(\"tiktok_Text_starty_3\") +\" -x\" +\n     global.get(\"tiktok_Text_startx_3\") +\" --led-no-hardware-pulse \" + msg.old.uniqueId + \"\"\n    node.send([null,null, msg]); \n            \n  msg.payload = \"--led-gpio-mapping=adafruit-hat --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=\" +\n    global.get(\"tiktok_Movie_brightness\") +\n    \" --led-slowdown-gpio=2 -f -w\" +\n    global.get(\"tiktok_movie_onTime\") +\n    \" \" + \n    msg.old.filename1 +\n    \" -f -w\" + global.get(\"tiktok_movie_onTime\")+\n    \" \" + \n    msg.old.filename2 +\n    \" --led-gpio-mapping=adafruit-hat -C --led-no-hardware-pulse\"\n    node.send([null,null, null, msg])\n    //return msg\n}\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 1340,
        "wires": [
            [
                "fb5b5c3f5338dba5",
                "c1a65680aa08e11d",
                "907d14de8ceaee48"
            ],
            [
                "a38768843ec02456"
            ],
            [
                "03d1970debca8e68"
            ],
            [
                "e80bf1806eb58fba"
            ],
            []
        ]
    },
    {
        "id": "a38768843ec02456",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2560,
        "y": 1340,
        "wires": [
            [
                "ecdf5d0a50fccb18"
            ]
        ]
    },
    {
        "id": "c1a65680aa08e11d",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2560,
        "y": 1280,
        "wires": [
            [
                "36f9d653ca3ad0b4",
                "ee38742cb80d481e"
            ]
        ]
    },
    {
        "id": "03d1970debca8e68",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2560,
        "y": 1400,
        "wires": [
            [
                "d33dc1b4b4e4d4f9"
            ]
        ]
    },
    {
        "id": "ee38742cb80d481e",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "kill",
        "func": "msg.kill=\"\"\nmsg.delay = global.get(\"tiktok_Text_onTime\") * 1000\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 1720,
        "wires": [
            [
                "e80bf1806eb58fba",
                "149d9b5f444ed4bc"
            ]
        ]
    },
    {
        "id": "149d9b5f444ed4bc",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "delayv",
        "timeout": "8",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2520,
        "y": 1820,
        "wires": [
            [
                "f6029c732c56c1f7"
            ]
        ]
    },
    {
        "id": "f6029c732c56c1f7",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "kill",
        "func": "msg.kill=\"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2830,
        "y": 1020,
        "wires": [
            [
                "d33dc1b4b4e4d4f9",
                "ecdf5d0a50fccb18",
                "36f9d653ca3ad0b4",
                "6c38c43157b3606f"
            ]
        ]
    },
    {
        "id": "a59e3c1c4f9650cd",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "function 4",
        "func": "if (msg.end === true){\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1860,
        "y": 1320,
        "wires": [
            [
                "2b3da5231b5c4f9b"
            ]
        ]
    },
    {
        "id": "2b3da5231b5c4f9b",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "19",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2040,
        "y": 1320,
        "wires": [
            [
                "7c9b02c48b644fb2"
            ]
        ]
    },
    {
        "id": "94a552ac9cfd0558",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": " http Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2470,
        "y": 1100,
        "wires": []
    },
    {
        "id": "89138439e6801ab3",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/usr/bin/node /home/pi/tiktok-parser/index.js",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 670,
        "y": 1260,
        "wires": [
            [
                "d794baec9e61cb26"
            ],
            [
                "8a31e6590259e6ef"
            ],
            [
                "6dab9c7baa29a533"
            ]
        ]
    },
    {
        "id": "c192fedbe5ecac2e",
        "type": "inject",
        "z": "683c5ee8de2163b6",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 1120,
        "wires": [
            [
                "6db29ba514e857f4"
            ]
        ]
    },
    {
        "id": "dc4c41df8b5f6555",
        "type": "inject",
        "z": "683c5ee8de2163b6",
        "name": "Kill Process",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1180,
        "wires": [
            [
                "89138439e6801ab3"
            ]
        ]
    },
    {
        "id": "f215999b4310ac9a",
        "type": "catch",
        "z": "683c5ee8de2163b6",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 620,
        "y": 1040,
        "wires": [
            [
                "5ca85e8767175a3e"
            ]
        ]
    },
    {
        "id": "5ca85e8767175a3e",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "d794baec9e61cb26",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8a31e6590259e6ef",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6dab9c7baa29a533",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e11c4b376c4176f7",
        "type": "link in",
        "z": "683c5ee8de2163b6",
        "name": "link in 1",
        "links": [
            "a64ef00ffe8f74a4"
        ],
        "x": 105,
        "y": 1280,
        "wires": [
            [
                "6db29ba514e857f4"
            ]
        ]
    },
    {
        "id": "6db29ba514e857f4",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Tiktok Chat function",
        "func": "let msg1 ={};\nmsg1.payload =\"\"\nmsg.kill =\"\";\nnode.send(msg);\n\n\nmsg1.payload = global.get(\"tiktok_name\").toString()|| \"acmegames\";\nnode.send([null,msg1]);",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "89138439e6801ab3"
            ],
            [
                "f348c9def07947ef"
            ]
        ]
    },
    {
        "id": "910422fcdfa995b5",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1100,
        "wires": []
    },
    {
        "id": "05985c03a387e15f",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Tiktok Chat function",
        "func": "\n\n\n//get new info and send it\nmsg.payload = global.get(\"tiktok_name\").toString();\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "89138439e6801ab3"
            ]
        ]
    },
    {
        "id": "f348c9def07947ef",
        "type": "delay",
        "z": "683c5ee8de2163b6",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 440,
        "y": 1320,
        "wires": [
            [
                "89138439e6801ab3"
            ]
        ]
    },
    {
        "id": "6c38c43157b3606f",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Show Like Count",
        "func": "let msg1 = {}\n\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2610,
        "y": 760,
        "wires": [
            [
                "343bc95bb58bdcf6"
            ],
            [
                "2e9d88cb7f1420d1"
            ]
        ]
    },
    {
        "id": "1824a31916a8c680",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "Likes Parser",
        "func": "\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "907d14de8ceaee48",
        "type": "function",
        "z": "683c5ee8de2163b6",
        "name": "kill",
        "func": "msg.kill=\"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 660,
        "wires": [
            [
                "343bc95bb58bdcf6",
                "2e9d88cb7f1420d1"
            ]
        ]
    },
    {
        "id": "5332439e9daf1855",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "catch_all debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 440,
        "wires": []
    },
    {
        "id": "62782bbec309549e",
        "type": "ui_button",
        "z": "683c5ee8de2163b6",
        "name": "",
        "group": "ad658f2169a90b4e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Inject Rose",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"giftId\":5655,\"repeatCount\":1,\"repeatEnd\":true,\"groupId\":\"1663025198956\",\"userId\":\"7142274036935148590\",\"secUid\":\"MS4wLjABAAAAfdsLIwNtY1d_lsYSg5xTZLcUYskfacM71DvrNR-tWhjb8NSkgj_O74J24r1vl5NN\",\"uniqueId\":\"stinkinkanime\",\"nickname\":\"stinkinkanime\",\"profilePictureUrl\":\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=8bsszQNFkwYfY1RdkzrkxKwq7vo%3D\",\"followRole\":0,\"userBadges\":[{\"badgeSceneType\":1,\"type\":\"pm_mt_moderator_im\",\"name\":\"Moderator\"}],\"userDetails\":{\"createTime\":\"0\",\"bioDescription\":\"\",\"profilePictureUrls\":[\"https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~tplv-tiktok-shrink:72:72.webp?x-expires=1663196400&x-signature=A%2FPpKMuIhVLFNDwFhI2k6uhpiP8%3D\",\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=8bsszQNFkwYfY1RdkzrkxKwq7vo%3D\",\"https://p19-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.webp?x-expires=1663196400&x-signature=dDrTGxGkpRX1eGvl6ORBUiY6PzM%3D\",\"https://p16-sign.tiktokcdn-us.com/tos-useast5-avt-0068-tx/7142274454209429546~c5_100x100.jpeg?x-expires=1663196400&x-signature=h3bRT6jx7yFWyQFHF8k13B3Ij34%3D\"]},\"followInfo\":{\"followingCount\":5,\"followerCount\":2,\"followStatus\":0,\"pushStatus\":0},\"isModerator\":true,\"isNewGifter\":false,\"isSubscriber\":false,\"topGifterRank\":null,\"msgId\":\"7142638130326457131\",\"createTime\":\"1663025202290\",\"displayType\":\"webcast_aweme_gift_send_message\",\"label\":\"{0:user} sent {1:gift} {2:string}\",\"gift\":{\"gift_id\":5655,\"repeat_count\":1,\"repeat_end\":1,\"gift_type\":1},\"describe\":\"Sent Rose\",\"giftType\":1,\"diamondCount\":1,\"giftName\":\"Rose\",\"giftPictureUrl\":\"https://p19-webcast.tiktokcdn.com/img/maliva/webcast-va/eba3a9bb85c33e017f3648eaf88d7189~tplv-obj.png\",\"timestamp\":1663025202291,\"receiverUserId\":\"7142190885731255342\",\"codetype\":\"gift\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 1280,
        "wires": [
            [
                "9bed4060204ba3f4"
            ]
        ]
    },
    {
        "id": "343bc95bb58bdcf6",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/text-scroller",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 2990,
        "y": 640,
        "wires": [
            [
                "e101e989d6e31709"
            ],
            [
                "7bfa4fc85b271203"
            ],
            [
                "34fb1738d506fcb4"
            ]
        ]
    },
    {
        "id": "e101e989d6e31709",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 42",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3180,
        "y": 600,
        "wires": []
    },
    {
        "id": "7bfa4fc85b271203",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3180,
        "y": 640,
        "wires": []
    },
    {
        "id": "34fb1738d506fcb4",
        "type": "debug",
        "z": "683c5ee8de2163b6",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 3180,
        "y": 680,
        "wires": []
    },
    {
        "id": "2e9d88cb7f1420d1",
        "type": "exec",
        "z": "683c5ee8de2163b6",
        "command": "/home/pi/rpi-rgb-led-matrix/utils/led-image-viewer",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "led-image-viewer",
        "x": 2990,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9713a97b7cd66f95",
        "type": "websocket out",
        "z": "658ae1b41e1ffece",
        "name": "",
        "server": "",
        "client": "13f7e1d6c4f01d13",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "e37227ad8b3c6e19",
        "type": "websocket in",
        "z": "658ae1b41e1ffece",
        "name": "",
        "server": "",
        "client": "13f7e1d6c4f01d13",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "1bfff8bc6cb68301"
            ]
        ]
    },
    {
        "id": "1bfff8bc6cb68301",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "7c10d1e7f9f05d7c",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload.timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload.msg",
                "v": "From PI",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9713a97b7cd66f95"
            ]
        ]
    },
    {
        "id": "18a54a9aa47c4b79",
        "type": "exec",
        "z": "658ae1b41e1ffece",
        "command": "/home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you for the Gift ♥ \" -O [255,0,0]",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "989033ace36b2bc1"
            ],
            [
                "72b315eb1e9c3521"
            ],
            [
                "d12a4568e38fc56f"
            ]
        ]
    },
    {
        "id": "ad076242ff2c083b",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "18a54a9aa47c4b79"
            ]
        ]
    },
    {
        "id": "989033ace36b2bc1",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "72b315eb1e9c3521",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 360,
        "wires": []
    },
    {
        "id": "d12a4568e38fc56f",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "6e56d1535f9285ca",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "18a54a9aa47c4b79"
            ]
        ]
    },
    {
        "id": "b2ab214d78f63b74",
        "type": "exec",
        "z": "658ae1b41e1ffece",
        "command": "/home/pi/rpi-rgb-led-matrix/examples-api-use/demo -D --led-rows=64 --led-cols=64 --led-chain=2  --led-brightness=40 --led-limit-refresh=50 8 -m 1",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Demo 10",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "e492b73336a5e043"
            ],
            [
                "ad9de96971b60c21"
            ],
            [
                "379a49e23842696b",
                "77bf2e475fa905cc"
            ]
        ]
    },
    {
        "id": "c3638d57234cacdd",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "b2ab214d78f63b74"
            ]
        ]
    },
    {
        "id": "c882b356ad6af014",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "b2ab214d78f63b74"
            ]
        ]
    },
    {
        "id": "e492b73336a5e043",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 500,
        "wires": []
    },
    {
        "id": "ad9de96971b60c21",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 540,
        "wires": []
    },
    {
        "id": "379a49e23842696b",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "77bf2e475fa905cc",
        "type": "function",
        "z": "658ae1b41e1ffece",
        "name": "function 1",
        "func": "if(msg.payload.code == 0){\n    msg.payload = \"\"\n    return msg;\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "b2ab214d78f63b74"
            ]
        ]
    },
    {
        "id": "20aa0980a5aedcc2",
        "type": "exec",
        "z": "658ae1b41e1ffece",
        "command": "/home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you♥ \"   --led-no-hardware-pulse -C255,145,0",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 1110,
        "y": 140,
        "wires": [
            [
                "52c3b00df2c4f717"
            ],
            [
                "9f0f1fe19c6e991e"
            ],
            [
                "747f9721550acbfd"
            ]
        ]
    },
    {
        "id": "66ee6e116d6dd35c",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 780,
        "y": 120,
        "wires": [
            [
                "20aa0980a5aedcc2"
            ]
        ]
    },
    {
        "id": "52c3b00df2c4f717",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 100,
        "wires": []
    },
    {
        "id": "9f0f1fe19c6e991e",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 140,
        "wires": []
    },
    {
        "id": "747f9721550acbfd",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 180,
        "wires": []
    },
    {
        "id": "d54f8b161348eb3c",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "20aa0980a5aedcc2"
            ]
        ]
    },
    {
        "id": "eb73af511ef749dc",
        "type": "exec",
        "z": "658ae1b41e1ffece",
        "command": "/home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you♥ \"  -y20 --led-no-hardware-pulse",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 1210,
        "y": 300,
        "wires": [
            [
                "e7b4ce9759ebdf87"
            ],
            [
                "6078adf67297a273"
            ],
            [
                "c10f839e52b0e027"
            ]
        ]
    },
    {
        "id": "4db09c5f5e47e9c8",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 880,
        "y": 280,
        "wires": [
            [
                "eb73af511ef749dc"
            ]
        ]
    },
    {
        "id": "e7b4ce9759ebdf87",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 260,
        "wires": []
    },
    {
        "id": "6078adf67297a273",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 300,
        "wires": []
    },
    {
        "id": "c10f839e52b0e027",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 340,
        "wires": []
    },
    {
        "id": "fb8d71b25ff7643c",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "eb73af511ef749dc"
            ]
        ]
    },
    {
        "id": "3b5a38c5eb8e31f8",
        "type": "exec",
        "z": "658ae1b41e1ffece",
        "command": "/home/pi/rpi-rgb-led-matrix/examples-api-use/scrolling-text-example -s 0 --led-rows=64 --led-cols=64 --led-chain=2 --led-brightness=50 --led-slowdown-gpio=3 -f /home/pi/rpi-rgb-led-matrix/fonts/10x20.bdf \" ♥Thank you♥ \"  -y40 --led-no-hardware-pulse -C25,255,200",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Spawn text",
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "6c93f01e3750c4e7"
            ],
            [
                "26159976b4cf620a"
            ],
            [
                "f16b2c05c7dff4f1"
            ]
        ]
    },
    {
        "id": "934a19d1d8ea811f",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 480,
        "wires": [
            [
                "3b5a38c5eb8e31f8"
            ]
        ]
    },
    {
        "id": "6c93f01e3750c4e7",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 460,
        "wires": []
    },
    {
        "id": "26159976b4cf620a",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 500,
        "wires": []
    },
    {
        "id": "f16b2c05c7dff4f1",
        "type": "debug",
        "z": "658ae1b41e1ffece",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 540,
        "wires": []
    },
    {
        "id": "4966277c0d16a1a7",
        "type": "inject",
        "z": "658ae1b41e1ffece",
        "name": "",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "3b5a38c5eb8e31f8"
            ]
        ]
    },
    {
        "id": "2669536192a4cf86",
        "type": "ui_text_input",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Tiktok Name",
        "tooltip": "",
        "group": "6ece3ac1871c8eb1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "d8ba7063c933099a"
            ]
        ]
    },
    {
        "id": "d8ba7063c933099a",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_name global",
        "func": "global.set(\"tiktok_name\", msg.payload);\n\nmsg.payload = \"New name configured as \"+ global.get(\"tiktok_name\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "4a73b35c940d485d",
        "type": "ui_toast",
        "z": "39c7fb5bf9a56abc",
        "position": "bottom right",
        "displayTime": "4",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1510,
        "y": 2200,
        "wires": []
    },
    {
        "id": "e12f546cf6c39b86",
        "type": "ui_button",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "group": "6ece3ac1871c8eb1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Update Tiktok Name Config",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "a64ef00ffe8f74a4"
            ]
        ]
    },
    {
        "id": "a64ef00ffe8f74a4",
        "type": "link out",
        "z": "39c7fb5bf9a56abc",
        "name": "Out To Tiktok",
        "mode": "link",
        "links": [
            "e11c4b376c4176f7"
        ],
        "x": 775,
        "y": 340,
        "wires": []
    },
    {
        "id": "29e4e583542ac7a5",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text brightness #1",
        "tooltip": "",
        "group": "9ce95f3c47a19fcb",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "b9e26b23f520230d"
            ]
        ]
    },
    {
        "id": "b52f6dca6a3db1b7",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text brightness #2",
        "tooltip": "",
        "group": "75aa1b88aa2b1096",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 520,
        "wires": [
            [
                "5fbe186d87a0d91b"
            ]
        ]
    },
    {
        "id": "dba4c57fe1d24046",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text Brightness  #3",
        "tooltip": "",
        "group": "889934b9a72a54f7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "55b3e6ddaa9c4829"
            ]
        ]
    },
    {
        "id": "f2dbea9ab817ca98",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Movie Brightness",
        "tooltip": "",
        "group": "584354bba9c0514c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 640,
        "wires": [
            [
                "61d52ebdc2c5b618"
            ]
        ]
    },
    {
        "id": "b9e26b23f520230d",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_brightness_1 global",
        "func": "global.set(\"tiktok_Text_brightness_1\", msg.payload);\n\nmsg.payload = \"New Text 1 Brightness configured as \" + global.get(\"tiktok_Text_brightness_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "5fbe186d87a0d91b",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_brightness_2 global",
        "func": "global.set(\"tiktok_Text_brightness_2\", msg.payload);\n\nmsg.payload = \"New Text 2 Brightness configured as \" + global.get(\"tiktok_Text_brightness_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 520,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "55b3e6ddaa9c4829",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_brightness_3 global",
        "func": "global.set(\"tiktok_Text_brightness_3\", msg.payload);\n\nmsg.payload = \"New Text 1 Brightness configured as \" + global.get(\"tiktok_Text_brightness_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 580,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "61d52ebdc2c5b618",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_brightness_1 global",
        "func": "global.set(\"tiktok_Movie_brightness\", msg.payload);\n\nmsg.payload = \"New Moive Brightness configured as \" + global.get(\"tiktok_Movie_brightness\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 640,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "9d5ed733b2c969e6",
        "type": "inject",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 230,
        "y": 460,
        "wires": [
            [
                "29e4e583542ac7a5",
                "b52f6dca6a3db1b7",
                "dba4c57fe1d24046",
                "f2dbea9ab817ca98"
            ]
        ]
    },
    {
        "id": "d12a64b6bbbf53fe",
        "type": "ui_colour_picker",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Color",
        "group": "9ce95f3c47a19fcb",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "1f02df5ff55b9c9f"
            ]
        ]
    },
    {
        "id": "d61284eaaa55fef5",
        "type": "ui_colour_picker",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 Color",
        "group": "75aa1b88aa2b1096",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 780,
        "wires": [
            [
                "4b8fa5c0bfb6615d"
            ]
        ]
    },
    {
        "id": "13089544e3c794c7",
        "type": "ui_colour_picker",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 Color",
        "group": "889934b9a72a54f7",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 840,
        "wires": [
            [
                "b1eb4526a0cbc33a"
            ]
        ]
    },
    {
        "id": "1f02df5ff55b9c9f",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_color_1 global",
        "func": "global.set(\"tiktok_Text_color_1\", msg.payload);\n\nmsg.payload = \"New Text 1 color configured as \" + global.get(\"tiktok_Text_color_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 740,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "4b8fa5c0bfb6615d",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_color_2 global",
        "func": "global.set(\"tiktok_Text_color_2\", msg.payload);\n\nmsg.payload = \"New Text 2 color configured as \" + global.get(\"tiktok_Text_color_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 780,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "b1eb4526a0cbc33a",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_color_3 global",
        "func": "global.set(\"tiktok_Text_color_3\", msg.payload);\n\nmsg.payload = \"New Text 1 color configured as \" + global.get(\"tiktok_Text_color_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 820,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "5fa03f549340024b",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Speed",
        "tooltip": "",
        "group": "9ce95f3c47a19fcb",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "10",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "a4952b0ac8eac9e5"
            ]
        ]
    },
    {
        "id": "f274992b41a6b17f",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text speed #2",
        "tooltip": "",
        "group": "75aa1b88aa2b1096",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "10",
        "step": 1,
        "className": "",
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "170d3db70c752ea7"
            ]
        ]
    },
    {
        "id": "a4952b0ac8eac9e5",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_speed_1 global",
        "func": "global.set(\"tiktok_Text_speed_1\", msg.payload);\n\nmsg.payload = \"New Text 1 speed configured as \" + global.get(\"tiktok_Text_speed_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 940,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "170d3db70c752ea7",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_speed_2 global",
        "func": "global.set(\"tiktok_Text_speed_2\", msg.payload);\n\nmsg.payload = \"New Text 2 speed configured as \" + global.get(\"tiktok_Text_speed_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1000,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "73f405ccc4eba2ac",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_speed_3 global",
        "func": "global.set(\"tiktok_Text_speed_3\", msg.payload);\n\nmsg.payload = \"New Text 1 speed configured as \" + global.get(\"tiktok_Text_speed_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 1060,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "26e9570ab1e09bd4",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text speed #3",
        "tooltip": "",
        "group": "889934b9a72a54f7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "10",
        "step": 1,
        "className": "",
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "73f405ccc4eba2ac"
            ]
        ]
    },
    {
        "id": "cbc8188498923783",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_font_1 global",
        "func": "global.set(\"tiktok_Text_font_1\", msg.payload);\n\nmsg.payload = \"New Text 1 font configured as \" + global.get(\"tiktok_Text_font_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1180,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "89a4d0faee7d9a5a",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_font_2 global",
        "func": "global.set(\"tiktok_Text_font_2\", msg.payload);\n\nmsg.payload = \"New Text 2 font configured as \" + global.get(\"tiktok_Text_font_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1240,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "689f7294c4ed7d79",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_font_3 global",
        "func": "global.set(\"tiktok_Text_font_3\", msg.payload);\n\nmsg.payload = \"New Text 1 font configured as \" + global.get(\"tiktok_Text_font_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1300,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "6d226e17aeff7553",
        "type": "ui_dropdown",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Font Selection",
        "tooltip": "",
        "place": "Select option",
        "group": "9ce95f3c47a19fcb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "10x20.bdf",
                "value": "10x20.bdf",
                "type": "str"
            },
            {
                "label": "4x6.bdf",
                "value": "4x6.bdf",
                "type": "str"
            },
            {
                "label": "5x7.bdf",
                "value": "5x7.bdf",
                "type": "str"
            },
            {
                "label": "5x8.bdf",
                "value": "5x8.bdf",
                "type": "str"
            },
            {
                "label": "6x10.bdf",
                "value": "6x10.bdf",
                "type": "str"
            },
            {
                "label": "6x12.bdf",
                "value": "6x12.bdf",
                "type": "str"
            },
            {
                "label": "6x13B.bdf",
                "value": "6x13B.bdf",
                "type": "str"
            },
            {
                "label": "6x13.bdf",
                "value": "6x13.bdf",
                "type": "str"
            },
            {
                "label": "6x13O.bdf",
                "value": "6x13O.bdf",
                "type": "str"
            },
            {
                "label": "6x9.bdf",
                "value": "6x9.bdf",
                "type": "str"
            },
            {
                "label": "7x13B.bdf",
                "value": "7x13B.bdf",
                "type": "str"
            },
            {
                "label": "7x13.bdf",
                "value": "7x13.bdf",
                "type": "str"
            },
            {
                "label": "7x13O.bdf",
                "value": "7x13O.bdf",
                "type": "str"
            },
            {
                "label": "7x14B.bdf",
                "value": "7x14B.bdf",
                "type": "str"
            },
            {
                "label": "7x14.bdf",
                "value": "7x14.bdf",
                "type": "str"
            },
            {
                "label": "8x13B.bdf",
                "value": "8x13B.bdf",
                "type": "str"
            },
            {
                "label": "8x13.bdf",
                "value": "8x13.bdf",
                "type": "str"
            },
            {
                "label": "8x13O.bdf",
                "value": "8x13O.bdf",
                "type": "str"
            },
            {
                "label": "9x15B.bdf",
                "value": "9x15B.bdf",
                "type": "str"
            },
            {
                "label": "9x15.bdf",
                "value": "9x15.bdf",
                "type": "str"
            },
            {
                "label": "9x18B.bdf",
                "value": "9x18B.bdf",
                "type": "str"
            },
            {
                "label": "9x18.bdf",
                "value": "9x18.bdf",
                "type": "str"
            },
            {
                "label": "clR6x12.bdf",
                "value": "clR6x12.bdf",
                "type": "str"
            },
            {
                "label": "helvR12.bdf",
                "value": "helvR12.bdf",
                "type": "str"
            },
            {
                "label": "texgyre-27.bdf",
                "value": "texgyre-27.bdf",
                "type": "str"
            },
            {
                "label": "tom-thumb.bdf",
                "value": "tom-thumb.bdf",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1180,
        "wires": [
            [
                "cbc8188498923783"
            ]
        ]
    },
    {
        "id": "8823bb8e77514177",
        "type": "ui_dropdown",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 Font Selection",
        "tooltip": "",
        "place": "Select option",
        "group": "75aa1b88aa2b1096",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "10x20.bdf",
                "value": "10x20.bdf",
                "type": "str"
            },
            {
                "label": "4x6.bdf",
                "value": "4x6.bdf",
                "type": "str"
            },
            {
                "label": "5x7.bdf",
                "value": "5x7.bdf",
                "type": "str"
            },
            {
                "label": "5x8.bdf",
                "value": "5x8.bdf",
                "type": "str"
            },
            {
                "label": "6x10.bdf",
                "value": "6x10.bdf",
                "type": "str"
            },
            {
                "label": "6x12.bdf",
                "value": "6x12.bdf",
                "type": "str"
            },
            {
                "label": "6x13B.bdf",
                "value": "6x13B.bdf",
                "type": "str"
            },
            {
                "label": "6x13.bdf",
                "value": "6x13.bdf",
                "type": "str"
            },
            {
                "label": "6x13O.bdf",
                "value": "6x13O.bdf",
                "type": "str"
            },
            {
                "label": "6x9.bdf",
                "value": "6x9.bdf",
                "type": "str"
            },
            {
                "label": "7x13B.bdf",
                "value": "7x13B.bdf",
                "type": "str"
            },
            {
                "label": "7x13.bdf",
                "value": "7x13.bdf",
                "type": "str"
            },
            {
                "label": "7x13O.bdf",
                "value": "7x13O.bdf",
                "type": "str"
            },
            {
                "label": "7x14B.bdf",
                "value": "7x14B.bdf",
                "type": "str"
            },
            {
                "label": "7x14.bdf",
                "value": "7x14.bdf",
                "type": "str"
            },
            {
                "label": "8x13B.bdf",
                "value": "8x13B.bdf",
                "type": "str"
            },
            {
                "label": "8x13.bdf",
                "value": "8x13.bdf",
                "type": "str"
            },
            {
                "label": "8x13O.bdf",
                "value": "8x13O.bdf",
                "type": "str"
            },
            {
                "label": "9x15B.bdf",
                "value": "9x15B.bdf",
                "type": "str"
            },
            {
                "label": "9x15.bdf",
                "value": "9x15.bdf",
                "type": "str"
            },
            {
                "label": "9x18B.bdf",
                "value": "9x18B.bdf",
                "type": "str"
            },
            {
                "label": "9x18.bdf",
                "value": "9x18.bdf",
                "type": "str"
            },
            {
                "label": "clR6x12.bdf",
                "value": "clR6x12.bdf",
                "type": "str"
            },
            {
                "label": "helvR12.bdf",
                "value": "helvR12.bdf",
                "type": "str"
            },
            {
                "label": "texgyre-27.bdf",
                "value": "texgyre-27.bdf",
                "type": "str"
            },
            {
                "label": "tom-thumb.bdf",
                "value": "tom-thumb.bdf",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1240,
        "wires": [
            [
                "89a4d0faee7d9a5a"
            ]
        ]
    },
    {
        "id": "8a8485e9ba1c20cb",
        "type": "ui_dropdown",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 Font Selection",
        "tooltip": "",
        "place": "Select option",
        "group": "889934b9a72a54f7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "10x20.bdf",
                "value": "10x20.bdf",
                "type": "str"
            },
            {
                "label": "4x6.bdf",
                "value": "4x6.bdf",
                "type": "str"
            },
            {
                "label": "5x7.bdf",
                "value": "5x7.bdf",
                "type": "str"
            },
            {
                "label": "5x8.bdf",
                "value": "5x8.bdf",
                "type": "str"
            },
            {
                "label": "6x10.bdf",
                "value": "6x10.bdf",
                "type": "str"
            },
            {
                "label": "6x12.bdf",
                "value": "6x12.bdf",
                "type": "str"
            },
            {
                "label": "6x13B.bdf",
                "value": "6x13B.bdf",
                "type": "str"
            },
            {
                "label": "6x13.bdf",
                "value": "6x13.bdf",
                "type": "str"
            },
            {
                "label": "6x13O.bdf",
                "value": "6x13O.bdf",
                "type": "str"
            },
            {
                "label": "6x9.bdf",
                "value": "6x9.bdf",
                "type": "str"
            },
            {
                "label": "7x13B.bdf",
                "value": "7x13B.bdf",
                "type": "str"
            },
            {
                "label": "7x13.bdf",
                "value": "7x13.bdf",
                "type": "str"
            },
            {
                "label": "7x13O.bdf",
                "value": "7x13O.bdf",
                "type": "str"
            },
            {
                "label": "7x14B.bdf",
                "value": "7x14B.bdf",
                "type": "str"
            },
            {
                "label": "7x14.bdf",
                "value": "7x14.bdf",
                "type": "str"
            },
            {
                "label": "8x13B.bdf",
                "value": "8x13B.bdf",
                "type": "str"
            },
            {
                "label": "8x13.bdf",
                "value": "8x13.bdf",
                "type": "str"
            },
            {
                "label": "8x13O.bdf",
                "value": "8x13O.bdf",
                "type": "str"
            },
            {
                "label": "9x15B.bdf",
                "value": "9x15B.bdf",
                "type": "str"
            },
            {
                "label": "9x15.bdf",
                "value": "9x15.bdf",
                "type": "str"
            },
            {
                "label": "9x18B.bdf",
                "value": "9x18B.bdf",
                "type": "str"
            },
            {
                "label": "9x18.bdf",
                "value": "9x18.bdf",
                "type": "str"
            },
            {
                "label": "clR6x12.bdf",
                "value": "clR6x12.bdf",
                "type": "str"
            },
            {
                "label": "helvR12.bdf",
                "value": "helvR12.bdf",
                "type": "str"
            },
            {
                "label": "texgyre-27.bdf",
                "value": "texgyre-27.bdf",
                "type": "str"
            },
            {
                "label": "tom-thumb.bdf",
                "value": "tom-thumb.bdf",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 600,
        "y": 1300,
        "wires": [
            [
                "689f7294c4ed7d79"
            ]
        ]
    },
    {
        "id": "f53bd2f6fe957c0e",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 X Start Selection",
        "tooltip": "",
        "group": "9ce95f3c47a19fcb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "64",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1420,
        "wires": [
            [
                "f71c0cacef31d89e"
            ]
        ]
    },
    {
        "id": "e6309124755a9be9",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 X Start Selection",
        "tooltip": "",
        "group": "75aa1b88aa2b1096",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "64",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1480,
        "wires": [
            [
                "3cdfbcd6623bbeb3"
            ]
        ]
    },
    {
        "id": "c0c58e45f44de740",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 X Start Selection",
        "tooltip": "",
        "group": "889934b9a72a54f7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "64",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1540,
        "wires": [
            [
                "afed7f0a93b230f0"
            ]
        ]
    },
    {
        "id": "f71c0cacef31d89e",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_startx_1 global",
        "func": "global.set(\"tiktok_Text_startx_1\", msg.payload);\n\nmsg.payload = \"New Text 1 startx configured as \" + global.get(\"tiktok_Text_startx_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1420,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "3cdfbcd6623bbeb3",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_startx_2 global",
        "func": "global.set(\"tiktok_Text_startx_2\", msg.payload);\n\nmsg.payload = \"New Text 2 startx configured as \" + global.get(\"tiktok_Text_startx_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1480,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "afed7f0a93b230f0",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_startx_3 global",
        "func": "global.set(\"tiktok_Text_startx_3\", msg.payload);\n\nmsg.payload = \"New Text 1 startx configured as \" + global.get(\"tiktok_Text_startx_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1540,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "a2e3321a764be914",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Y Start Selection",
        "tooltip": "",
        "group": "9ce95f3c47a19fcb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "128",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1640,
        "wires": [
            [
                "d93651bb07c4d270"
            ]
        ]
    },
    {
        "id": "305f7054ab9455a7",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 Y Start Selection",
        "tooltip": "",
        "group": "75aa1b88aa2b1096",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "128",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1700,
        "wires": [
            [
                "5286ad88b496365a"
            ]
        ]
    },
    {
        "id": "2222b7a8cc77b589",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 Y Start Selection",
        "tooltip": "",
        "group": "889934b9a72a54f7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "128",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1760,
        "wires": [
            [
                "6dbba96ceb4e8136"
            ]
        ]
    },
    {
        "id": "d93651bb07c4d270",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_starty_1 global",
        "func": "global.set(\"tiktok_Text_starty_1\", msg.payload);\n\nmsg.payload = \"New Text 1 starty configured as \" + global.get(\"tiktok_Text_starty_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1640,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "5286ad88b496365a",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_starty_2 global",
        "func": "global.set(\"tiktok_Text_starty_2\", msg.payload);\n\nmsg.payload = \"New Text 2 starty configured as \" + global.get(\"tiktok_Text_starty_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1700,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "6dbba96ceb4e8136",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_starty_3 global",
        "func": "global.set(\"tiktok_Text_starty_3\", msg.payload);\n\nmsg.payload = \"New Text 1 starty configured as \" + global.get(\"tiktok_Text_starty_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1760,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "e67ea40d95dae5c8",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Blink On Selection",
        "tooltip": "How long to stay on in seconds when scrolling",
        "group": "9ce95f3c47a19fcb",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "64",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 1940,
        "wires": [
            [
                "38ee428ae76ee38c"
            ]
        ]
    },
    {
        "id": "d339f5e3fa0ae847",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 Blink On Selection",
        "tooltip": "How long to stay on in seconds when scrolling",
        "group": "75aa1b88aa2b1096",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2000,
        "wires": [
            [
                "c8c696c53a2f5a59"
            ]
        ]
    },
    {
        "id": "3bf5571ed5b1596a",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 Blink On Selection",
        "tooltip": "How long to stay on in seconds when scrolling",
        "group": "889934b9a72a54f7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2060,
        "wires": [
            [
                "aff0ac51c9312bbd"
            ]
        ]
    },
    {
        "id": "38ee428ae76ee38c",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOn _1 global",
        "func": "global.set(\"tiktok_Text_blinkOn_1\", msg.payload);\n\nmsg.payload = \"New Text 1 blinkOn configured as \" + global.get(\"tiktok_Text_blinkOn_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1940,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "c8c696c53a2f5a59",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOn_2 global",
        "func": "global.set(\"tiktok_Text_blinkOn_2\", msg.payload);\n\nmsg.payload = \"New Text 2 blinkOn configured as \" + global.get(\"tiktok_Text_blinkOn_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2000,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "aff0ac51c9312bbd",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOn_3 global",
        "func": "global.set(\"tiktok_Text_blinkOn_3\", msg.payload);\n\nmsg.payload = \"New Text 1 blinkOn configured as \" + global.get(\"tiktok_Text_blinkOn_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2060,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "3ac5d83e79fe6a80",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 1 Blink Off Selection",
        "tooltip": "How long to stay off in seconds when scrolling",
        "group": "9ce95f3c47a19fcb",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2160,
        "wires": [
            [
                "9456d8251da8f804"
            ]
        ]
    },
    {
        "id": "9804b043a956bf7f",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 2 Blink Off Selection",
        "tooltip": "How long to stay off in seconds when scrolling",
        "group": "75aa1b88aa2b1096",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2220,
        "wires": [
            [
                "9375f2be5a9db8c5"
            ]
        ]
    },
    {
        "id": "da1ad2344fcb819b",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text 3 Blink Off Selection",
        "tooltip": "How long to stay off in seconds when scrolling",
        "group": "889934b9a72a54f7",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2280,
        "wires": [
            [
                "dbfbc1f87730e4a7"
            ]
        ]
    },
    {
        "id": "9456d8251da8f804",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOff_1 global",
        "func": "global.set(\"tiktok_Text_blinkOff_1\", msg.payload);\n\nmsg.payload = \"New Text 1 blinkOff configured as \" + global.get(\"tiktok_Text_blinkOff_1\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2160,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "9375f2be5a9db8c5",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOff_2 global",
        "func": "global.set(\"tiktok_Text_blinkOff_2\", msg.payload);\n\nmsg.payload = \"New Text 2 blinkOff configured as \" + global.get(\"tiktok_Text_blinkOff_2\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2220,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "dbfbc1f87730e4a7",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_blinkOff_3 global",
        "func": "global.set(\"tiktok_Text_blinkOff_3\", msg.payload);\n\nmsg.payload = \"New Text 1 blinkOff configured as \" + global.get(\"tiktok_Text_blinkOff_3\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2280,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "f4613da23ae0102d",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Text On Selection",
        "tooltip": "How long to show text piece in seconds",
        "group": "ad658f2169a90b4e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 570,
        "y": 2420,
        "wires": [
            [
                "2447ea94a791cda5"
            ]
        ]
    },
    {
        "id": "8bfc0cabd1c09e22",
        "type": "ui_slider",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "label": "Movie onTime Selection",
        "tooltip": "How long to show slide show",
        "group": "ad658f2169a90b4e",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "60",
        "step": 1,
        "className": "",
        "x": 590,
        "y": 2480,
        "wires": [
            [
                "b7acbc186f17abe4"
            ]
        ]
    },
    {
        "id": "2447ea94a791cda5",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Text_onTime global",
        "func": "global.set(\"tiktok_Text_onTime\", msg.payload);\n\nmsg.payload = \"New Text 2 onTime configured as \" + global.get(\"tiktok_Text_onTime\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2420,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "b7acbc186f17abe4",
        "type": "function",
        "z": "39c7fb5bf9a56abc",
        "name": "Set tiktok_Moive_onTime global",
        "func": "global.set(\"tiktok_movie_onTime\", msg.payload);\n\nmsg.payload = \"New Movie onTime configured as \" + global.get(\"tiktok_movie_onTime\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2480,
        "wires": [
            [
                "4a73b35c940d485d"
            ]
        ]
    },
    {
        "id": "15f0d32990674b05",
        "type": "exec",
        "z": "39c7fb5bf9a56abc",
        "command": "systemctl stop nodered && systemctl start nodered",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a0422324c98891bc",
        "type": "inject",
        "z": "39c7fb5bf9a56abc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 840,
        "y": 80,
        "wires": [
            [
                "15f0d32990674b05"
            ]
        ]
    }
]